* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.retangulo {
    width: 23%;
    height: 200px;
    background-color: blueviolet;
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}