* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.retangulo {
    width: 23%;
    height: 200px;
    background-image: linear-gradient(165deg, #6c11ff 20%, #ff0000 100%);
    margin: 0 auto 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

.conteiner1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}

.conteiner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
    flex-direction: column;
}

.quadrado {
    width: 150px;
    height: 150px;
}

.verde {
    background-color: chartreuse;
}

.roxo {
    background-color: rebeccapurple;
}

.vermelho {
    background-color: red;
}
.amarelo {
    background-color: yellow;
}

.circulo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}